/* body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    /* font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */ 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.userCard{
  display: inline-block
}



body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #222;
  background: #e6ffff;
}
/* a {
  color: #0033cc;
} */

.ui.item{
  background: linear-gradient(
    to right bottom,
    #4cf6a2,
    #4c91f6
  );

}

.body {
  /* background: #e6ffff;
   */
   background: linear-gradient(
    to right,
    #4cf6a2,
    #4c91f6
  );
  
}


.header{
  padding: 35px;
  /* text-align: center; */
  padding-bottom: 38px;
  
  /* background:   #b3ffff; */
  color:   #222;
  font-size: 30px;
}
/* #3399ff */

.floatLeft{float:left;
  margin-left:20px
}

/* .peoplepagestext {
  align: left,
  color
} */

.ui.secondary.pointing.menu{
  margin-top: 0px
}

/* .ui.secondary.pointing.menu:active{
  background-color: red;
} */